@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&display=swap');

* {
  font-family: "Inter", sans-serif;
}

#activeRoute {
  color: #069D95;
}

.children {
  width: calc(100% - 253px);
  height: 100vh;
  overflow-y: auto;
}

.title {
  color: white;
  width: 100%;
  text-align: left;
  font-size: 25px;
  margin: 0 0 20px 0;
  font-weight: 700;
  position: relative;
}

.title::after {
  content: '';
  width: 70px;
  height: 1.5px;
  background-color: #eeeeeeac;
  border-radius: 3px;
  position: absolute;
  right: 0;
  top: 50%;

}


.title2 {
  color: white;
  width: 100%;
  text-align: left;
  font-size: 25px;
  margin: 0 0 20px 0;
  font-weight: 700;
  position: relative;
}

.title2::after {
  content: '';
  width: 40px;
  height: 1.5px;
  background-color: #eeeeeeac;
  border-radius: 3px;
  position: absolute;
  right: -7px;
  top: 50%;

}

.banner {
  width: 100%;
  height: 320px;
}


.bannerImg {
  background: linear-gradient(270deg, rgba(0, 113, 130, 0.184) 82.4%, rgba(3, 238, 210, 0.8) 100%), url("../../public/bannerUnauth.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.banner2 {
  background: linear-gradient(to right, rgba(0, 113, 130, 0.8), rgba(3, 238, 210, 0.8));
}

@font-face {
  font-family: "Nico Moji";
  src: url("../../public/NicoMoji-Regular.ttf");
}

.premiumHeading {
  font-family: "Nico Moji";
  font-weight: 400;
  font-size: 65px;
}


.searchBar::placeholder {
  color: #FFFFFF99;
}

.myBtn {
  background-color: #3B3B3B;
  color: white;
  border-radius: 99px;
  width: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.prodGrid {
  display: grid;
  grid-template-columns: repeat(5, 190px);
  justify-content: space-between;
  width: 100%;
}